body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('background.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
}
button {
    padding: 10px 15px; /* Adds padding inside the buttons */
    font-size: 14px; /* Increases the font size for better readability */
    color: #FFFFFF; /* Sets the text color to white */
    background-color: #4976a7; /* A pleasant shade of blue as the background */
    border: grey; /* Removes the default border */
    border-radius: 5px; /* Rounds the corners of the buttons */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    transition: background-color 0.3s; /* Smooth transition for the background color */
}

button:hover {
    background-color: #0056b3; /* A darker shade of blue for the hover state */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#canvas-container {
    display: flex;
    justify-content: space-between; /* Spread out the Previous and Next buttons to the far sides */
    align-items: center; /* Center align the items vertically */
    flex-direction: row; /* This is the default, but included for clarity */
}

canvas {
    margin: 0 20px; /* Add margin to ensure space between the buttons and the canvas */
}

#saveBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#saveBtn:hover {
    background-color: #0056b3;
}

#imageUpload {
    margin: 20px 0;
}

#countDisplay {
    font-size: 20px;
    margin: 10px 0;
}
